[Unit]
Description=RabbitMQ to MongoDB Storage Service
Requires=mongod.service 
After=mongod.service

[Service]
Type=idle
ExecStart=/usr/local/bin/mongologger/rabbitmq-mongodb.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target


